{% extends "catalog/base.html" %}
{% load static %}
{% block css_file %}
<link rel="stylesheet" href="{% static "catalog/css/detail.css" %}">
{% endblock %}

{% block details %}
<div class="detail-page">
  <div class="inner-detail">
    <h1>Title: {{ book.title }}</h1>

    <p><img style="width: 350px; height:200px; 
      background-repeat: no-repeat; background-size: cover;" src="{{book.book_cover}}"></p>
    <p><strong>Author:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p>
    <p><strong>Summary:</strong> {{ book.summary }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>
  <div >
    <h4>Copies</h4>
      {% for copy in book.bookcopy_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
        <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
        <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
      {% if copy.status == 'a' %}
        <button class="borrowBtn"><a href="{% url 'borrow-book' copy.id %}">Borrow Book </a></button>
      {% endif %}
    {% endfor %}
  </div>
  </div>
</div>
{% endblock %}

