{% load static %}
{% block css_file %}
<link rel="stylesheet" href="{% static "catalog/css/profile.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

{% endblock %}


<div class="profile">
    <div class="profile-card">
      <div class="card-image">
        <img src="https://res.cloudinary.com/webmonc/image/upload/v1658886618/My%20Profile/card-img_uypsd4.jpg">
      </div>
      <div class="profile-image">
        <img src="https://res.cloudinary.com/webmonc/image/upload/v1658886619/My%20Profile/me_sufv3k.png">
      </div>
      <div class="card-content">
        <h3>Abdullahi AbdulWasiu</h3>
        <p>I'm a passionate Django/React developer with 3+ years experience in web development. I have developed many brilliant web applications including this one. Are you looking for an excellent skill in tools for the perfectionist with a deadline? connect below.</p>
      </div>
      <div class="icons">
        <a href="#" ><i class="fa fa-facebook-f" style="font-size:24px"></i></a>
        <a href="#" ><i class="fa fa-youtube" style="font-size:24px"></i ></a>
        <a href="#" ><i class="fa fa-twitter" style="font-size:24px"></i></a>
        <a href="https://www.linkedin.com/mwlite/in/Abdullahi-abdulwasiu-1aaa3311b" target="_blank"><i class="fa fa-linkedin"  style="font-size:24px"></i></a>
      </div>
    </div>
  </div>